<header class="container-fluid bg-white d-flex justify-content-between align-items-center text-dark p-3 px-4 border-bottom"
        style="margin-left: 0px; margin-right: 0px">
    <h1 class="h1">Início</h1>
    <div class="col-6 flex-column">
        <h4 class="h6 text-end">19:43</h4>
        <h4 class="h6 text-end">21/11/2025</h4>
    </div>
</header>
