.borda-esquerda {
    border-left: 4px solid #666;
    padding-left: 10px;
}

.breadcrumb-item > a {
    font-size: 16px;
    margin-bottom: 10px;
    color: #212529;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb {
    background: none;
}

a > span {
    color: #0dcaf0;
    text-decoration: none;
    font-weight: bold;
}


input, select, textarea {
    height: 46px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.btn-salvar {
    background-color: #009e0f;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    width: 100%;
    cursor: pointer;
}
.buttons[b-oeu6s2lg5o] {
    display: flex;
    justify-content: space-between;
    gap: 10px; /* garante que não fiquem colados */
}



.btn-deletar {
    background-color: #e53935;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    width: 100%;
    color: white;
    cursor: pointer;
}

.divider {
    border-top: 1px solid #ccc;
    margin: 15px 0;
}
