body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f7;
    margin: 0;
    padding: 20px;
}

.breadcrumb {
    background: none;
    font-size: 14px;
    color: #333;
    margin-bottom: 10px;
}

    .breadcrumb a {
        font-size: 16px;
        margin-bottom: 10px;
        color: #212529;
        text-decoration: none;
        font-weight: 500;
    }

a > span {
    color: #0dcaf0;
    text-decoration: none;
    font-weight: bold;
}

.container {
    border: 2px solid rgb(180, 180, 180);
    border-radius: 8px;
    background-color: #fff;
    padding: 20px;
    max-width: 900px;
    margin: 0 auto;
}

    .container h2 {
        margin-top: 0;
        font-size: 22px;
    }

    .container p {
        margin-top: -10px;
        margin-bottom: 20px;
        color: #666;
    }

.border-left {
    border-left: 4px solid #666;
    padding-left: 10px;
    margin-bottom: 20px;
}

input, select, textarea {
    height: 46px;
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
    box-sizing: border-box;
}

.row, .row-3 {
    display: flex;
    gap: 15px;
}

    .row > div,
    .row-3 > div {
        flex: 1;
    }

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>") no-repeat right 10px center;
    background-color: #fff;
    background-size: 16px;
    padding-right: 35px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.btn-salvar {
    background-color: #21B570;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-weight: 600;
    width: 50%;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-salvar:hover {
        background-color: #1EA465;
    }

.btn-deletar {
    text-align: center;
    background-color: #C82333;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    width: 50%;
    text-decoration: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .btn-deletar:hover {
        background-color: #B6202E;
    }

.divider {
    border-top: 1px solid #ccc;
    margin: 15px 0;
}
