@page "/CadastroCliente"
@rendermode InteractiveServer

@using AppBugaoMotoFVLE.Components.Models;
@inject ClienteDAO clienteDao;
@inject NavigationManager Navigation;

@if (erro != null)

{
    <div class="alert alert-danger">
        @erro
    </div>
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"> Início </a> </li> <!-- Inicio é Home-->
    <li class="breadcrumb-item active"> <a class="active"> Cadastrar: <span> Cliente </span> </a></li>
</ol>

<div class="border p-4 rounded bg-white">

    <div class="borda-esquerda">
        <h3>Cadastro do cliente</h3>
        <p>Preencha todas as informações corretamente</p>
    </div>

    <EditForm Model="_novoCliente" OnSubmit="Salvar">
    <input @bind-value="_novoCliente!.Nome"  type="text" placeholder="Nome">
    <div class="row">
        <div class="col-6"><input @bind-value="_novoCliente!.Telefone" type="text" placeholder="Telefone"></div>
        <div class="col-6"><input @bind-value="_novoCliente!.Cpf" type="text" placeholder="CPF"></div>
    </div>

    <div class="divider"></div>
    <div class="row">
        <div class="col-6"><input @bind-value="_novoCliente!.Rua" type="text" placeholder="Rua"></div>
        <div class="col-6"><input @bind-value="_novoCliente!.Bairro" type="text" placeholder="Bairro"></div>
    </div>
    <div class="row">

        <div class="col-6">
            <input @bind-value="_novoCliente!.Estado" type="text" placeholder="Estado">
        </div>
        <div class="col-6">
            <input @bind-value="_novoCliente!.Cidade" type="text" placeholder="Cidade">
        </div>
    </div>
        <input @bind-value="_novoCliente!.Complemento" type="text" placeholder="Complemento">
    <div class="buttons">
        <button class="btn-deletar">Cancelar</button>
        <button type="submit" class="btn-salvar">Salvar</button>

    </div>
    </EditForm>
</div>


@code {
    private string? erro = null;

    [SupplyParameterFromForm]

    private Cliente? _novoCliente { get; set; } = new Cliente();



    private void Salvar()
    {
        try
        {
            if (_novoCliente.Nome is null || _novoCliente.Nome == "")
            {

                throw new Exception("O campo Nome é obrigatório");

            }
            clienteDao.InserirCliente(_novoCliente);
            Navigation.NavigateTo("/ConsultaCliente");
        }
        catch (Exception ex)
        {
            erro = ex.Message;
        }

    }
}
