.borda-esquerda {
    border-left: 4px solid #666;
    padding-left: 12px;
}

.breadcrumb-item > a {
    font-size: 16px;
    margin-bottom: 10px;
    color: #212529;
    text-decoration: none;
    font-weight: 500;
}

a > span {
    color: #0dcaf0;
    text-decoration: none;
    font-weight: bold;
}

.breadcrumb {
    background: none;
}

table thead {
    background: #343a40;
    color: white;
}

.btn-view:hover {
    background: #1a242f;
}

.breadcrumb a {
color: #2c3e50;
text-decoration: none;
font-weight: bold;
}

h2 {
font-size: 20px;
margin-bottom: 15px;
display: flex;
align-items: center;
gap: 10px;
}

.search-bar {
display: flex;
gap: 10px;
margin-bottom: 20px;
}

.search-bar input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-add {
    background: #34495e;
    text-decoration: none;
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
}

.btn-add:hover {
    background: #22313f;
    text-decoration:none;
}

