table thead {
    background: #343a40;
    color: white;
}

.btn-view {
background: #2c3e50;
border: none;
padding: 6px 12px;
border-radius: 8px;
color: white;
cursor: pointer;
transition: 0.3s;
display: flex;
align-items: center;
justify-content: center;
}

.btn-view:hover {
background: #1a242f;
}

.breadcrumb-item > a {
    font-size: 16px;
    margin-bottom: 10px;
    color: #212529;
    text-decoration: none;
    font-weight: 500;
}

.breadcrumb{
    background: none;
}
a > span {
    color: #0dcaf0;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 2px solid black;
    padding-left: 12px;
}

.search-bar {
display: flex;
gap: 10px;
margin-bottom: 20px;
}

.search-bar input {
flex: 1;
padding: 10px;
border: 1px solid #ccc;
border-radius: 4px;
}

.btn-add {
    padding: 10px 15px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    background: #34495e;
    text-decoration: none;
}

.btn-add:hover {
    background: #22313f;
    text-decoration: none;
}

.btn-view {
background: #2c3e50;
border: none;
padding: 6px 12px;
border-radius: 6px;
color: white;
cursor: pointer;
transition: 0.3s;
}

.btn-view:hover {
background: #1a242f;
}
