table thead {
    background: #343a40;
    color: white;
}

.breadcrumb {
    background: none;
}

.breadcrumb-item > a {
    font-size: 16px;
    margin-bottom: 10px;
    color: #212529;
    text-decoration: none;
    font-weight: 500;
}

a > span {
    color: #0dcaf0;
    text-decoration: none;
    font-weight: bold;
}

h2 {
    font-size: 20px;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-left: 4px solid #666;
    padding-left: 12px;
}

.search-bar {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

    .search-bar input {
        flex: 1;
        height: 46px;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-size: 14px;
        box-sizing: border-box;
    }

.btn-add {
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    transition: 0.3s;
    background: #21B570;
    text-decoration: none;
}

    .btn-add:hover {
        background: #1EA465;
    }

.btn-view {
    background: #2c3e50;
    border: none;
    padding: 10px 16px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    justify-content: center;
}

    .btn-view:hover {
        background: #1a242f;
    }
