@page "/estoque"

@using AppBugaoMotoFVLE.Components.Models;
@inject ProdutoDAO produtoDAO
@inject NavigationManager Navigation;

<div class="breadcrumb">
    <a href="/"> Home </a> • <a> Estoque </a>
</div>

<div class="container-md pt-3">
    <div class="border p-4 rounded">
        <h2> Estoque 📦</h2>

        <div class="search-bar mb-3 d-flex gap-2">
            <input type="text" placeholder="Buscar" class="form-control" />
            <a href="/CadastroProduto" class=" btn-add"> <i class="bi bi-plus"></i> Adicionar novo produto</a>
        </div>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Produto</th>
                    <th>Quantidade</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int contador = 1;
                    foreach (var prod in listaProduto)
                    {
                        <tr>
                            <td>@contador</td>
                            <td>@prod.Nome</td>
                            <td>@prod.Quantidade</td>
                        </tr>
                        contador++;
                    }
                }
            </tbody>
        </table>
    </div>
</div>


   

@code {

    private string erro = string.Empty;

    [Parameter]
    public int Id { get; set; }

    [SupplyParameterFromForm]
    private Produto produto1 { get; set; } = new();

    private List<Produto> listaProduto = new();

    protected override void OnInitialized()
    {
        CarregarProduto();
        // buscar o serviço por id
        var _produto = produtoDAO.BuscarProd(Id);
        if (_produto != null)
        {
            produto1 = _produto;
        }
        else
        {
            erro = "Produto não encontrado!";
        }
    }

    private void CarregarProduto()
    {
        listaProduto = produtoDAO.ListarProd();
    }
}
